# Proxy Perplexity

The goal of this notebook is to unravel the feasibility of the usage of the perplexity metric as a proxy for the groundtruth metric dataset for 1 of 50 samples with genertions in the models Llama3.2-3B-Instruct using 5 different random generations.

Here we just want to calculate a one shot scenario to have the knowledge for a further implementation

The chosen sample it was the idx = 3

The pre_collections are presented in the ".zip" file and need to be extracted, this experiment got them from the other experiment "datamodels_training_window_size
"

In [1]:
import polars as pl
import seaborn as sns
import json
import os
from utils.metrics.calculate_perplexity import calculate_perplexity, calculate_batch_perplexity
from utils.set_random_seed import set_random_seed
from utils.generate_context import get_context, get_batch_context

os.environ["CUDA_VISIBLE_DEVICES"] = "0"

/home/caio.rhoden/miniconda3/envs/nq_dl/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
set_random_seed(42)

### Importing Data

In [3]:
#### Import collections
collections_list = []
for dir in os.listdir("collections"):
    for file in os.listdir(f"collections/{dir}"):
        collections_list.append(pl.read_ipc(f"collections/{dir}/{file}").with_columns(pl.lit(dir).alias("seed")))
collections = pl.concat(collections_list)

In [4]:
collections.head(5)

shape: (5, 5)
┌────────────────┬──────────┬─────────────────┬────────────┬──────┐
│ collection_idx ┆ test_idx ┆ input           ┆ evaluation ┆ seed │
│ ---            ┆ ---      ┆ ---             ┆ ---        ┆ ---  │
│ i64            ┆ i64      ┆ array[i64, 100] ┆ f64        ┆ str  │
╞════════════════╪══════════╪═════════════════╪════════════╪══════╡
│ 1000           ┆ 0        ┆ [0, 1, … 0]     ┆ 0.0        ┆ 7270 │
│ 1000           ┆ 1        ┆ [0, 1, … 0]     ┆ 1.0        ┆ 7270 │
│ 1000           ┆ 2        ┆ [0, 1, … 0]     ┆ 1.0        ┆ 7270 │
│ 1000           ┆ 3        ┆ [0, 1, … 0]     ┆ 1.0        ┆ 7270 │
│ 1000           ┆ 4        ┆ [0, 1, … 0]     ┆ 1.0        ┆ 7270 │
└────────────────┴──────────┴─────────────────┴────────────┴──────┘

In [5]:
#### Import pre-collections
pre_collections_list = []
for dir in os.listdir("pre_collections"):
    for file in os.listdir(f"pre_collections/{dir}"):
       pre_collections_list.append(pl.read_ipc(f"pre_collections/{dir}/{file}").with_columns(pl.lit(dir).alias("seed")))
pre_collections = pl.concat(pre_collections_list)

In [6]:
pre_collections.head(5)

shape: (5, 6)
┌────────────────┬──────────┬─────────────────┬──────────────────┬──────────────────────────┬──────┐
│ collection_idx ┆ test_idx ┆ input           ┆ predicted_output ┆ true_output              ┆ seed │
│ ---            ┆ ---      ┆ ---             ┆ ---              ┆ ---                      ┆ ---  │
│ i64            ┆ i64      ┆ array[i64, 100] ┆ str              ┆ list[str]                ┆ str  │
╞════════════════╪══════════╪═════════════════╪══════════════════╪══════════════════════════╪══════╡
│ 400            ┆ 0        ┆ [0, 0, … 0]     ┆ Judith Keppel    ┆ ["Judith Cynthia Aline   ┆ 7270 │
│                ┆          ┆                 ┆                  ┆ Keppel"…                 ┆      │
│ 400            ┆ 1        ┆ [0, 0, … 0]     ┆ George W. Bush   ┆ ["George W. Bush",       ┆ 7270 │
│                ┆          ┆                 ┆                  ┆ "Bush"]                  ┆      │
│ 400            ┆ 2        ┆ [0, 0, … 0]     ┆ Sammi Smith.     ┆ ["Kris Kristofferson"]   ┆ 7270 │
│ 400            ┆ 3        ┆ [0, 0, … 0]     ┆ October 27, 1904 ┆ ["October 27 , 1904",    ┆ 7270 │
│                ┆          ┆                 ┆                  ┆ "1904"]                  ┆      │
│ 400            ┆ 4        ┆ [0, 0, … 0]     ┆ 2004             ┆ ["2004", "February 25 ,  ┆ 7270 │
│                ┆          ┆                 ┆                  ┆ 2004"]                   ┆      │
└────────────────┴──────────┴─────────────────┴──────────────────┴──────────────────────────┴──────┘

In [7]:
## wiki import
WIKI_PATH = "../../data/wiki_dump2018_nq_open/processed/wiki.feather"
wiki = pl.read_ipc(WIKI_PATH).with_row_index("idx")
wiki.head(3)

shape: (3, 3)
┌─────┬─────────────────────────────────┬───────┐
│ idx ┆ text                            ┆ title │
│ --- ┆ ---                             ┆ ---   │
│ u32 ┆ str                             ┆ str   │
╞═════╪═════════════════════════════════╪═══════╡
│ 0   ┆ Aaron Aaron ( or ; "Ahärôn") i… ┆ Aaron │
│ 1   ┆ God at Sinai granted Aaron the… ┆ Aaron │
│ 2   ┆ his rod turn into a snake. The… ┆ Aaron │
└─────┴─────────────────────────────────┴───────┘

In [8]:
retrievals_idx = {}
for dir in os.listdir("retrieval"):
    for file in os.listdir(f"retrieval/{dir}"):
        retrievals_idx[dir] = json.load(open(f"retrieval/{dir}/{file}"))
print(retrievals_idx.keys())

dict_keys(['7270'])

In [9]:
## wiki import
WIKI_PATH = "../../data/wiki_dump2018_nq_open/processed/wiki.feather"
wiki = pl.read_ipc(WIKI_PATH).with_row_index("idx")
wiki.head(3)

shape: (3, 3)
┌─────┬─────────────────────────────────┬───────┐
│ idx ┆ text                            ┆ title │
│ --- ┆ ---                             ┆ ---   │
│ u32 ┆ str                             ┆ str   │
╞═════╪═════════════════════════════════╪═══════╡
│ 0   ┆ Aaron Aaron ( or ; "Ahärôn") i… ┆ Aaron │
│ 1   ┆ God at Sinai granted Aaron the… ┆ Aaron │
│ 2   ┆ his rod turn into a snake. The… ┆ Aaron │
└─────┴─────────────────────────────────┴───────┘

In [10]:
## wiki import
QUESTIONS_PATH = "../../data/nq_open_gold/processed/test.feather"
questions = pl.read_ipc(QUESTIONS_PATH).with_row_index("idx")
questions.head(3)

shape: (3, 6)
┌─────┬───────────────────┬───────────────────┬─────────────┬───────────────────┬──────────────────┐
│ idx ┆ example_id        ┆ question          ┆ answers     ┆ text              ┆ idx_gold_in_corp │
│ --- ┆ ---               ┆ ---               ┆ ---         ┆ ---               ┆ us               │
│ u32 ┆ i64               ┆ str               ┆ list[str]   ┆ str               ┆ ---              │
│     ┆                   ┆                   ┆             ┆                   ┆ i64              │
╞═════╪═══════════════════╪═══════════════════╪═════════════╪═══════════════════╪══════════════════╡
│ 0   ┆ -3290814144789249 ┆ who got the first ┆ ["Wilhelm   ┆ The first Nobel   ┆ 20994698         │
│     ┆ 484               ┆ nobel prize …     ┆ Conrad      ┆ Prize in Physi…   ┆                  │
│     ┆                   ┆                   ┆ Röntgen"]   ┆                   ┆                  │
│ 1   ┆ 88510207223864214 ┆ when is the next  ┆ ["May 18 ,  ┆ Deadpool 2 is     ┆ 21032933         │
│     ┆ 69                ┆ deadpool movi…    ┆ 2018"]      ┆ scheduled to be … ┆                  │
│ 2   ┆ 95537496786268431 ┆ the south west    ┆ ["till      ┆ With the          ┆ 21032934         │
│     ┆ 6                 ┆ wind blows acro…  ┆ September"] ┆ Intertropical     ┆                  │
│     ┆                   ┆                   ┆             ┆ Converg…          ┆                  │
└─────┴───────────────────┴───────────────────┴─────────────┴───────────────────┴──────────────────┘

In [11]:
## Dataset collections import
import h5py
train_collections_datasets = []
test_collections_datasets = []
for dir in os.listdir("collections_dataset"):
    for file in os.listdir(f"collections_dataset/{dir}"):
        if file.endswith(".h5") and file.startswith("train_collection"):
            with h5py.File(f"collections_dataset/{dir}/{file}", "r") as f:
                train_collections_datasets.append(f["train_collection"][()])
        elif file.endswith(".h5") and file.startswith("test_collection"):
            with h5py.File(f"collections_dataset/{dir}/{file}", "r") as f:
                test_collections_datasets.append(f["test_collection"][()])

train_collections_datasets[0]

array([[82, 15, 48, ..., 24, 81, 51],
       [62, 73, 41, ..., 75,  2, 70],
       [34, 14, 28, ...,  8, 44, 94],
       ...,
       [91, 50, 38, ..., 10,  1, 55],
       [85, 37, 88, ..., 93, 47, 60],
       [70, 45, 45, ...,  5, 51, 34]])

## Estimation of Differential Perplexity - Singe Sample

In [31]:
collections.filter(pl.col("test_idx") == 3).filter((pl.col("evaluation") > 0) & (pl.col("evaluation") < 1))

shape: (55, 5)
┌────────────────┬──────────┬─────────────────┬────────────┬──────┐
│ collection_idx ┆ test_idx ┆ input           ┆ evaluation ┆ seed │
│ ---            ┆ ---      ┆ ---             ┆ ---        ┆ ---  │
│ i64            ┆ i64      ┆ array[i64, 100] ┆ f64        ┆ str  │
╞════════════════╪══════════╪═════════════════╪════════════╪══════╡
│ 1054           ┆ 3        ┆ [0, 0, … 1]     ┆ 0.666667   ┆ 7270 │
│ 1100           ┆ 3        ┆ [0, 1, … 0]     ┆ 0.4        ┆ 7270 │
│ 1238           ┆ 3        ┆ [0, 0, … 0]     ┆ 0.666667   ┆ 7270 │
│ 1251           ┆ 3        ┆ [0, 0, … 0]     ┆ 0.333333   ┆ 7270 │
│ 1281           ┆ 3        ┆ [0, 0, … 0]     ┆ 0.333333   ┆ 7270 │
│ …              ┆ …        ┆ …               ┆ …          ┆ …    │
│ 756            ┆ 3        ┆ [0, 1, … 0]     ┆ 0.166667   ┆ 7270 │
│ 810            ┆ 3        ┆ [0, 0, … 0]     ┆ 0.222222   ┆ 7270 │
│ 811            ┆ 3        ┆ [0, 0, … 0]     ┆ 0.666667   ┆ 7270 │
│ 922            ┆ 3        ┆ [0, 0, … 0]     ┆ 0.666667   ┆ 7270 │
│ 961            ┆ 3        ┆ [0, 0, … 0]     ┆ 0.333333   ┆ 7270 │
└────────────────┴──────────┴─────────────────┴────────────┴──────┘

In [13]:
from transformers import AutoTokenizer, AutoModelForCausalLM
from accelerate import Accelerator
import torch



model_path = "../../models/llms/Llama-3.2-3B-Instruct"
tokenizer = AutoTokenizer.from_pretrained(model_path)
tokenizer.pad_token = tokenizer.eos_token  # Set pad token to eos token for Llama models
model = AutoModelForCausalLM.from_pretrained(model_path,  device_map={"": Accelerator().process_index}, torch_dtype=torch.bfloat16,)

Loading checkpoint shards: 100%|██████████| 2/2 [00:01<00:00,  1.33it/s]

In [14]:
questions[3].select("question").item()

'what does hp mean in war and order'

In [15]:
### Example single perplexity calculation
base_perplexity = calculate_perplexity(
    questions[3].select("question").item(),
    model,
    tokenizer,
    device=Accelerator().device
)
base_perplexity

218.1916046142578

In [16]:

## Example batch perplexity calculation
calculate_batch_perplexity(
    [questions[3].select("question").item(), questions[3].select("question").item()],
    model,
    tokenizer,
    contexts=["Abacate", "Create a question:"],
    device=Accelerator().device,
    stride=48
)

Calculating perplexities: 100%|██████████| 2/2 [00:00<00:00, 36.52it/s]

tensor([957.2520, 326.5370], device='cuda:0')

In [17]:
get_context(
    train_collections_datasets[0],
    retrievals_idx["7270"],
    wiki,
    3,
    0,
)

'Document[1](Title: Sterling Street (IRT Nostrand Avenue Line))the IRT agreed to build a subway line along Nostrand Avenue in Brooklyn. The construction of the subway along Nostrand Avenue spurred real estate development in the surrounding areas. The Nostrand Avenue Line opened on August 23, 1920, and the Sterling Street station opened along with it. The platforms at Sterling Street were lengthened during the 1950s to 510 feet so that the platforms could accommodate 10-car trains. The underground station has two tracks and two side platforms. The platforms have original 1920s Dual Contracts era tiling. The name tablets have "STERLING ST." in white letters on a brown background\n\nDocument[2](Title: BMT Sea Beach Line)with poles and operated service on the line from May 1, 1915 until the line opened for full subway service on June 22, 1915, with trains running between Coney Island and Chambers Street in Lower Manhattan. Service started with two- and three-car trains operating via the Fourth Avenue local track and the Manhattan Bridge south tracks. The express tracks were finished several weeks later. When the BMT Fourth Avenue Line was extended south from the Sea Beach Line on January 15, 1916, the Sea Beach trains were shifted to the express tracks on Fourth Avenue, with Fourth Avenue trains providing\n\nDocument[3](Title: Uptown Hudson Tubes)rails; this took an additional year to complete. The stations on the Manhattan side were also completed during this time. Test runs of trains without passengers started through the tunnels in late 1907: the Hudson Companies tested its rolling stock on the Second Avenue Elevated, then delivered the trains to the Uptown Hudson Tubes for further testing. A trial run, carrying a party of officials, dignitaries, and news reporters, ran on February 15, 1908. The first "official" passenger train, which was also open only to officials and dignitaries, left 19th Street at 3:40 p.m. on February 25, 1908, and arrived\n\nDocument[4](Title: Buffalo Metro Rail)the initial Metro Rail line began in 1979 and opened in stages: the surface portion opened on October 9, 1984 while the subway opened as far as Amherst Street Station on May 20, 1985, following an opening ceremony on May 18. The line was further extended to University Station, serving the University at Buffalo, on November 10, 1986 due to construction issues at LaSalle Station. At the time of the start of construction, the line was intended to be the first line for an extensive heavy rail system that would spread throughout the city and suburbs. However, during the construction\n\nDocument[5](Title: 138th Street station (New York Central Railroad))1888 and 1890. Throughout most of the station\'s existence, it has been in relatively close proximity to mass transit. In 1887, the Suburban Rapid Transit Company built an elevated station along the Third Avenue Elevated Line more than several blocks to the east. By 1918, their successors, the Interborough Rapid Transit Company expanded the IRT Jerome Avenue Line south from 149th Street to the Lexington Avenue Tunnel into the IRT Lexington Avenue Line in Harlem, and built a subway station beneath the vicinity of the railroad station. The subway station still exists. During the Great Depression, New York Central had\n\nDocument[6](Title: East 180th Street (IRT White Plains Road Line))subway and renamed it the IRT Dyre Avenue Line. The line north of Dyre Avenue and south of East 180th Street was abandoned and demolished, leaving the Dyre Avenue Line with no rail connections, so subway service debuted in 1940 as a full-time shuttle. In 1957, a flyover connection between the IRT White Plains Road and Dyre Avenue Lines opened, allowing trains from the latter to travel to Manhattan and Brooklyn. All services that formerly used the NYW&B tracks and platforms moved to the White Plains Road Line platforms and tracks. It was placed on the National Register of Historic\n\nDocument[7](Title: Rochester Subway)to serve as the route of the subway. The subway was built below, and Broad Street above. Only were in the tunnel, the rest of the route in open cut. The term "subway" did not refer to the tunnel, but to the route being grade-separated and operated as rapid transit. Interurban lines were also run through the subway and off city streets, easing growing congestion. The segment over the Genesee River utilized the former . Construction was completed and operations began in 1927, under contract with New York State Railways. Ten former Utica and Mohawk Valley Railway 2000-series cars were\n\nDocument[8](Title: IRT Flushing Line)in the viscinity of Flushing Creek. Once the structure was deemed to be safe for operation, the line was extended to Willets Point Boulevard on May 7, 1927. This extension was served by shuttle trains until through service was inaugurated on May 14. On that date, the opening of the station was formally celebrated; it coincided with the opening of the Roosevelt Avenue Bridge for cars and buses. On March 22, 1926 the line was extended one stop westward from Grand Central to Fifth Avenue. The line was finally extended to Times Square on March 14, 1927. The eastern extension\n\nDocument[9](Title: History of the New York City Subway)Boulevard Line during rush hours, with E trains running express west of 71st–Continental Avenues, and GG trains taking over the local during rush hours. The initial headway for express service was between three and five minutes. 23rd Street–Ely Avenue station opened as an in-fill station on August 28, 1939. Upon its extension into Jamaica, the line drew Manhattan-bound passengers away from the nearby BMT Jamaica Line subway and the Long Island Rail Road. On July 1, 1937, a third trunk line, the Crosstown Line, opened from Nassau Avenue to Bergen Street. Two years later, on December 15, 1940, local service\n\nDocument[10](Title: Broadway Junction (New York City Subway))opened in 1885; the area had been known as Manhattan Beach Crossing since before then, due to the crossing of the LIRR\'s Manhattan Beach Division. A station on the Fulton Street Elevated railroad at Sackman Street opened on July 4, 1889, when the line was extended to Atlantic Avenue. A two-track, one-half-block elevated connection was built on the east side of Vesta Avenue (now Van Sinderen Avenue) between the Fulton Street and Broadway Lines. This connection, equipped with a third rail to supply electric power, was opened on August 9, 1900, and new service patterns were implemented: during times other\n\nDocument[11](Title: History of the New York City Subway)Island Railroad or West End Line, opened for passenger service on October 9, 1863, between Fifth Avenue at 36th Street at the border of Brooklyn City and Bath Beach in the Town of Gravesend, New York. A short piece of surface route of this railroad, the BMT West End Line (today\'s ) on the west side of the Coney Island Complex north of the Coney Island Creek, is the oldest existing piece of rapid transit right-of-way in New York City and in the U.S., having opened on June 8, 1864. On January 30, 1899, the Brooklyn Union Elevated Railroad was\n\nDocument[12](Title: Hudson Yards (development))New York. The MTA received proceeds from the development\'s 2006 bond offering to pay for an extension of the New York City Subway\'s to 34th Street–Hudson Yards station. With funding assured, the MTA proceeded quickly to construct the extension. The first construction contracts were awarded in October 2007, and the subway extension opened on September 13, 2015. In late 2006, the city and the MTA backed out of a plan for the city to purchase the development site, and created a proposal to seek bids from private developers. This was followed by the a formal request for proposals in 2008\n\nDocument[13](Title: History of Boston)History at Boston operated 1858–1906. It was acquired by the American Museum of Natural History in New York City in 1906. As the population increased rapidly, Boston-area streetcar lines facilitated the creation of a profusion of streetcar suburbs. Middle-class businessmen, office workers and professionals lived in the suburbs and commuted into the city by subway. Downtown congestion worsened, prompting the opening of the first subway in North America on September 1, 1897, the Tremont Street Subway. Between 1897 and 1912, subterranean rail links were built to Cambridge and East Boston, and elevated and underground lines expanded into other neighborhoods from\n\nDocument[14](Title: Q (New York City Subway service))service, as pioneered on the New York City Subway that opened in 1904. The Brighton Beach line was also converted to electrified third rail. Brighton Beach local and express service was extended to a new West End terminal at Stillwell and Surf Avenues, the location of the Coney Island terminal for the BMT Southern Division, in May 1919. On August 1, 1920, subway service on the BMT Brighton Line, now owned by the Brooklyn-Manhattan Transit Corporation (BMT), officially began with the openings of a two-track underground subway between Prospect Park and DeKalb Avenue and the Montague Street Tunnel between Brooklyn\n\nDocument[15](Title: United New Jersey Railroad and Canal Company)began October 1862; the Clinton Street Station on the new line at Trenton opened April 20, 1863, replacing the old State Street Station. The first train ran through the new tunnel on October 5, 1863, and the new line (along what is now the Northeast Corridor) opened November 23, cutting New York City–Trenton time to 2.5 hours. The second track on the new line opened September 1864, but the old line remained for southbound freight. The Princeton Branch opened May 29, 1865, on which date passenger trains stopped running over the old line. The old line was removed between Trenton\n\nDocument[16](Title: Broadway Junction (New York City Subway))opened in 1885; the area had been known as Manhattan Beach Crossing since before then, due to the crossing of the LIRR\'s Manhattan Beach Division. A station on the Fulton Street Elevated railroad at Sackman Street opened on July 4, 1889, when the line was extended to Atlantic Avenue. A two-track, one-half-block elevated connection was built on the east side of Vesta Avenue (now Van Sinderen Avenue) between the Fulton Street and Broadway Lines. This connection, equipped with a third rail to supply electric power, was opened on August 9, 1900, and new service patterns were implemented: during times other\n\n'

In [19]:
contexts = get_batch_context(    
    train_collections_datasets[0],
    retrievals_idx["7270"],
    wiki,
    3,
    [i for i in range(0,2000)],
)

In [22]:
perplexity_3  = calculate_batch_perplexity(
    [questions[3].select("question").item() for _ in range(2000)],
    model,
    tokenizer,
    contexts,
    device=Accelerator().device
)

Calculating perplexities: 100%|██████████| 2000/2000 [14:49<00:00,  2.25it/s]

In [43]:
## Correlation
from scipy.stats import kendalltau
rouge = collections.filter(pl.col("test_idx") == 3).sort("collection_idx").select("evaluation").to_numpy().flatten().tolist()
per = perplexity_3.tolist()

kendalltau(rouge, per)

SignificanceResult(statistic=-0.1029672423927717, pvalue=1.1488643316498845e-08)